/* ------------- Google fonts ---------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* ------------- Página web ---------------- */

* {
    box-sizing: border-box;
    margin: 0;
}

/* ------------- Variables ---------------- */

:root {
    --color-basico: rgb(173, 216, 230);
}

/* ------------- Body ---------------- */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(247, 244, 244);
    /* background-color: black;
    /* overflow: hidden; */
}

*/
/* ------------- Nav ---------------- */

.menu {
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 2;
}

.menu-desplegable {
    background-color: var(--color-basico);
    height: 175px;
    width: 175px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.menu-desplegable .boton {
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    left: 120px;
    top: 80px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu.mostrar-menu {
    transform: rotate(-20deg);
}

.menu.mostrar-menu .menu-desplegable {
    transform: rotate(-70deg);
}

.menu-desplegable .boton:focus {
    outline: none;
}

.menu-desplegable .boton#open {
    left: 62%;
}

.menu-desplegable .boton#close {
    top: 65%;
    left: 55%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.nav {
    display: none;
}

/* ------------- Header ---------------- */

.header {
    display: flex;
    margin: 7rem 1rem;
    justify-content: space-between;
    width: 96%;
}

.header__div1 {
    order: 2;
    flex-basis: 50%;
    text-align: center;
}

.header__div1 h1 {
    margin: 0 0 10px;
    font-size: 1.6rem;
}

.header__div1 p {
    line-height: 1.5;
    margin: 0 0 10px;
}

.header__div1 button {
    border: none;
    background-color: rgb(90, 187, 219);
    padding: 1rem;
    border-radius: 5%;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.header__div1 button:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 1000px;
    font-weight: 700;
}

.header__div2 {
    order: 1;
    flex-basis: 50%;
    position: relative;
    z-index: 10;
}

.header__div2-img {
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__div3 {
    position: absolute;
    background-color: var(--color-basico);
    top: 130px;
    left: 30px;
    height: 250px;
    width: 250px;
    z-index: 1;
}

/* ------------- Nuestras clases ---------------- */

.clases {
    position: relative;
    margin: 5rem auto;
    width: 95%;
}

.linea-azul {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 80px 0;
}

.linea-azul::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100px;
    background-color: var(--color-basico);
}

/* ------------- Section clases ---------------- */

.clases__div {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 0px;
    justify-content: space-around;
}

.clases__div-div {
    width: 50%;
}

.clases__div-div {
    height: 250px;
    width: 250px;
    margin: 15px 5px;
    position: relative;
}

.clases__div-div-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.clases__div-div-button {
    position: absolute;
    left: 0;
    bottom: 30%;
    width: 100%;
    height: 50px;
    background-color: rgb(90, 187, 219, 0.9);
    border: none;
}

.clases__div-div-button a {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
}

/* -------------- Clases 1 y 2 -------------- */

.clases__div-div:nth-of-type(1) {
    width: 45%;
    height: 250px;
}

.clases__div-div-img:nth-of-type(1) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(1) {
    width: 100%;
}

.clases__div-div:nth-of-type(2) {
    width: 45%;
    height: 250px;
}

.clases__div-div-img:nth-of-type(2) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(2) {
    width: 100%;
}

/* -------------- Clases 3 y 4 -------------- */

.clases__div-div:nth-of-type(3) {
    width: 55%;
    height: 250px;
}

.clases__div-div-img:nth-of-type(3) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(3) {
    width: 100%;
}

.clases__div-div:nth-of-type(4) {
    width: 40%;
    height: 200px;
}

.clases__div-div-img:nth-of-type(4) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(4) {
    width: 100%;
}

/* -------------- Clases 5 y 6 -------------- */

.clases__div-div:nth-of-type(5) {
    width: 40%;
    height: 200px;
}

.clases__div-div-img:nth-of-type(5) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(5) {
    width: 100%;
}

.clases__div-div:nth-of-type(6) {
    width: 55%;
    height: 250px;
}

.clases__div-div-img:nth-of-type(6) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(6) {
    width: 100%;
}

/* -------------- Clases 9 y 10 -------------- */

.clases__div-div:nth-of-type(9) {
    width: 40%;
    height: 200px;
}

.clases__div-div-img:nth-of-type(9) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(9) {
    width: 100%;
}

.clases__div-div:nth-of-type(10) {
    width: 55%;
    height: 250px;
}

.clases__div-div-img:nth-of-type(10) {
    width: 100%;
    height: 100%;
}

.clases__div-div-button:nth-of-type(10) {
    width: 100%;
}

/* ------------- Slider ---------------- */

.container__slider {
    width: 90%;
    max-width: 560px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px var(--color-basico), 0 15px 50px;
    position: relative;
}

.container__slider-div {
    display: flex;
    width: 500%;
    height: 315px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.container__slider-div iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.slider__botones {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
}

.slider__botones:hover {
    background-color: #fff;
}

.slider__boton--derecha {
    right: 10px;
}

.slider__boton--izquierda {
    left: 10px;
}

/* ------------- Nuestros profesores ---------------- */

.clases:nth-child(4) {
    width: 100%;
}

.profesores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.profesor {
    background-color: #fff;
    width: 240px;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    border: 5px solid rgb(238, 237, 237);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.profesor:before {
    content: "";
    position: absolute;
    z-index: -1000;
    top: 30%;
    right: 0%;
    bottom: 0;
    left: 0;
    background: rgba(238, 237, 237, 0.521);
}

.profesor__div {
    flex-basis: 50%;
    border-radius: 50%;
    margin: 20px auto 0px;
    background-color: #fff;
}

.profesor__img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    object-position: top;
    border: 5px solid rgb(221, 220, 220);
    padding: 7px;
}

.profesor__div2 {
    flex-basis: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profesor__div-h6 {
    color: rgb(252, 82, 21);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.profesor__div-span {
    color: grey;
    text-align: center;
    padding: 5px;
    letter-spacing: 1.5px;
}

.profesor__div-p {
    background: rgb(180, 125, 58);
    background: linear-gradient(90deg, rgba(180, 125, 58, 1) 0%, rgba(253, 202, 29, 1) 0%, rgba(252, 96, 69, 1) 100%);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-size: 1.1rem;
}

.profesor:nth-child(2) h6, .profesor:nth-child(6) h6, .profesor:nth-child(10) h6 {
    color: #800080;
}

.profesor:nth-child(2) p, .profesor:nth-child(6) p, .profesor:nth-child(10) p {
    background: rgb(180, 125, 58);
    background: linear-gradient(90deg, rgba(180, 125, 58, 1) 0%, rgba(187, 29, 253, 1) 0%, rgba(128, 0, 128, 1) 100%);
}

.profesor:nth-child(3) h6, .profesor:nth-child(7) h6, .profesor:nth-child(11) h6 {
    color: #5abbdbe6;
}

.profesor:nth-child(3) p, .profesor:nth-child(7) p, .profesor:nth-child(11) p {
    background: rgb(180, 125, 58);
    background: linear-gradient(90deg, rgba(180, 125, 58, 1) 0%, rgba(90, 187, 219, 1) 0%, rgba(0, 102, 128, 1) 100%);
}

.profesor:nth-child(4) h6, .profesor:nth-child(8) h6 {
    color: rgba(128, 0, 8, 1);
}

.profesor:nth-child(4) p, .profesor:nth-child(8) p {
    background: rgb(180, 125, 58);
    background: linear-gradient(90deg, rgba(180, 125, 58, 1) 0%, rgba(219, 151, 90, 1) 0%, rgba(128, 0, 8, 1) 100%);
}

/* ------------- Eventos ---------------- */

.eventos {
    display: flex;
    justify-content: space-between;
}

.evento {
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(224, 224, 221);
}

.evento__div {
    height: 200px;
    width: 100%;
}

.evento__div-img {
    display: inline-block;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    min-width: 100%;
}

.evento__div, .evento__div2, .evento__div3, .evento__div4 {
    flex-basis: 25%;
}

.evento__div2 {
    background-color: #ffa500;
    flex-shrink: 3;
    width: 70%;
    margin: 0 auto;
    padding: 8px;
    transform: translateY(-20px);
    border-radius: 5px;
}

.evento__div2 p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.evento__div2:hover {
    background-color: darkorange;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.evento__div3 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.evento__div3 p {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 3px;
}

.evento__div3 span {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 5px;
    color: rgb(61, 61, 61);
}

.evento__div4 p {
    text-align: center;
    padding: 15px;
    color: darkorange;
    font-weight: 700;
    font-size: 1.2rem;
}

/* ------------- Contactar ---------------- */

.contactar {
    background-color: black;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.mapa1 {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.mapa2 {
    flex-basis: 100%;
    background-color: chartreuse;
    flex-basis: 100%;
    height: 50%;
    width: 100%;
}

.mapa1__div {
    color: #fff;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    row-gap: 1px;
    text-align: center;
}

.mapa1__div:nth-child(4) {
    color: #fff;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    row-gap: 10px;
}

.mapa1__div:nth-child(1) .mapa1__div-div3 p {
    text-transform: capitalize;
}

.mapa1__div:nth-child(2) .mapa1__div-div3 {
    word-break: break-all;
}

.mapa1__div-div, .mapa1__div-div2, .mapa1__div-div3 {
    align-self: center;
}

.mapa1__div-div2 p {
    color: grey;
    text-transform: uppercase;
}

.mapa1__div:nth-child(1) .mapa1__div-div i, .mapa1__div:nth-child(3) .mapa1__div-div i {
    color: grey;
    font-size: 1.4rem;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 10px;
}

.mapa1__div-div i {
    color: grey;
    font-size: 1.4rem;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 10px;
}

.mapa1__div:nth-child(4) .mapa1__div4-div3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}

.mapa1__div:nth-child(4) .mapa1__div4-div3 a i {
    color: #fff;
    font-size: 1.4rem;
}

.mapa1__div:nth-child(3) .mapa1__div-div3 p {
    margin: 2px;
}


.alfinal {
    height: 1000px;
}